* {
	margin:0;
	padding:0;

}
a {
text-decoration: none;
color: #fff;

}
body{
	background-color: #222;
	font-family: Verdana;
	font-size: 100%;
	color: #fff;

}
.fotot{
	margin: auto;
	text-align: center;

}
.container {
	width: 1200px;
	padding: 10px;
	margin: auto;
	margin-top: 20px;

}
nav{
	width: 300px;
	height: 1200px;
	background-color: #555;
	box-sizing: border-box;
	padding: 10px;
	float: left;
}
section{
	background-color: #fff;
	color: #333;
	width: 870px;
	height: 1200px;
	margin-left: 10px;
	box-sizing: border-box;
	padding: 10px;
	float:left;

}
ul.menu{
	list-style-type: none;


}
ul.menu li{
	width: 250px;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
	padding-left: 10px;
	background-color: #777;
	margin-top: 5px;
	cursor: pointer;
	float: left;
}
ul.menu li:hover{
	background-color: #888;

}
.btn{
	width: 120px;
	height: 40px;
	border: 1px solid #ddd;
	


}
.salvar{
	background-image: url(../imagens/salvar.png);
	background-repeat: no-repeat;
	background-position: 10% 50%;
	background-size: 20px;
	background-color: #46ad7a;
	color: #fff;
	cursor:pointer;
	
}
.limpar{
	background-image: url(../imagens/limpar.png);
	background-repeat: no-repeat;
	background-position: 10% 50%;
	background-size: 20px;
	background-color: #425490;
	color: #fff;
	cursor:pointer;

}
.excluir{
	background-image: url(../imagens/excluir.png);
	background-repeat: no-repeat;
	background-position: 10% 50%;
	background-size: 20px;
	background-color: #ad4656;
	color: #fff;
	cursor:pointer;

}
.campo {
width: 300px;
height: 30px;
border-radius: 3px;
margin-top: 5px;
border-top: 5px;
border:1px solid #ddd;

}
article {
width: 100%;
box-sizing: border-box;
padding: 10px;
background-color: #d6d5d5;
margin-bottom: 5px;

}

.fieldset {
	width: 850px;
	height: 290px;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin-top: 3px;


}
.btnpesquisa {
	background-image: url(../imagens/pesquisa.png);
	background-repeat: no-repeat;
	background-position: 10% 50%;
	background-size: 20px;
	background-color: #FFFAFA;
	color: #696969;
	cursor:pointer;
	height: 40px;
	width: 120px;
}
.table {
  border-collapse: collapse;
  width: 50em;
  border: 1px solid #666;
}
thead {
  background: #ccc url(http://www.devfuria.com.br/html-css/tabelas/bar.gif) repeat-x left center;
  border-top: 1px solid #a5a5a5;
  border-bottom: 1px solid #a5a5a5;
}
tr:hover {
  background-color:#3d80df;
  color: #fff;
}
thead tr:hover {
  background-color: transparent;
  color: inherit;
}
tr:nth-child(even) {
    background-color: #edf5ff;
}
th {
  font-weight: normal;
  text-align: left;
}
th, td {
  padding: 0.1em 1em;
}

.campot{
width: 120px;
height: 30px;
border-radius: 3px;
margin-top: 5px;
border-top: 5px;
border:1px solid #ddd;


}
.btnincluir{
	width: 120px;
	height: 25px;
	border: 1px solid #ddd;
	background-image: url(../imagens/salvar.png);
	background-repeat: no-repeat;
	background-position: 10% 50%;
	background-size: 20px;
	background-color: #46ad7a;
	color: #fff;
	cursor:pointer;
	
}
.btnpagar{
	width: 120px;
	height: 25px;
	border: 1px solid #ddd;
	background-image: url(../imagens/pagamento.png);
	background-repeat: no-repeat;
	background-position: 10% 50%;
	background-size: 20px;
	background-color: #46ad7a;
	color: #fff;
	cursor:pointer;

}